.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    width: 360px;
    padding: 48px;
    box-shadow: 0px 0px 21px rgb(0 0 0 / 20%);
    background: #fff;
}

label.form-label {
    width: 100%;
    display: block;
}

input#first-name {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#last-name {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#email {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#address {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#number {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#username {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#password {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

input#confirm-password {
    height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
}

button.submit-btn {
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.mb-2 {
    margin-bottom: 16px;
}

.error-feedback{
    color:red;
    margin-top:8px;
}